//idea
.idea-image{
    background: no-repeat center center;
    background-color: #6c757d;
    background-size: cover;
    background-attachment: scroll;
}
//progress section
.progress {
    width: 100%;
    height: 1.5rem;
    &-bar {
        background: rgb(240, 240, 240);
    }
    &-bar-success {
        background: #8c87e6;
        border-right: solid 2px #625eb1;
    }
    &-bar-noncomplete {
        border-right: solid 2px rgb(221, 221, 221);
    }
    &-bar:last-child {
        border: none;
    }
}
//meet the team section
.btn-apply {
    background: #8c87e6;
    padding-left: 20px;
    padding-right: 20px;
    &:hover {
        background: #625eb1;
    }
    @media screen and (max-width: 991px) {
        display: block;
    }
}
.user-comment {
    @media screen and (max-width: 767px) {
        flex-direction: column !important;
        align-items: flex-start !important;
    }
    .separator {
        @media screen and (max-width: 767px) {
            display: none !important;
        }
    }
    .status,
    .time {
        @media screen and (max-width: 767px) {
            margin-left: 0 !important;
        }
    }
}