.hero-image{
    background: no-repeat center center;
    background-color: #6c757d;
    background-size: cover;
    background-attachment: scroll;
    height: 250px;
}
.header-caption {
    letter-spacing: 2px;
}
.header-small-caption {
    letter-spacing: 1px;
}