// Icons
.feather {
    width: 16px;
    height: 24px;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    &-heart {
        stroke: red;
        &:hover{
            fill: red;
        }
    }
    &-send {
        opacity: 0.5;
        cursor: pointer;
        &:hover{
            opacity: 1;
        }
    }
    &-user,
    &-message-square {
        opacity: 0.5;
        cursor: pointer;
        &:hover{
            opacity: 1;
            fill: rgb(53, 53, 53);
        }
    }
}